body>div:first-child
{
    background: linear-gradient(75deg, rgba(50, 0, 25, .5), rgba(75, 33, 177, .9));
    width: 100%;
    height: 100%;
    position: absolute;
}

h1{
    text-align:center;
}
#zagolovok>ul>li
{
    font-size:20px;
}
#zagolovok>ul
{
    border-style:solid;
    margin-left:40px;
    margin-right: 40px;
}
li{
    text-shadow: 0.5px 0px 1px yellow;
    list-style: none;
}

.menu_first
{
    list-style: none;
}
.menu_second
{
    list-style: none;
}
.menu_main>ul
{
    display: flex;
    justify-content: center;
}
#menu{
    height:100px;
    width: 100%;
    border-bottom-style:solid ;
}
.menu_main>ul li a
{
    display:block;
    background: inherit;
    padding:20px 30px 15px 40px;
    font-size:18px;
    text-decoration:none;
    color:white;
    border-right: 2px solid red;
}
.menu_main>ul li:first-child
{
    border-left:2px solid red;
}
.menu_main li a:hover
{
    background:grey;
    color:white;
    box-shadow:2px 2px 5px -1px blue;
}
.menu_main li ul
{
    position:absolute;
    display:none
}
.menu_main li>ul li{
    border:2px solid red;
}
.menu_main li>ul li a
{
    padding:12px;
    background:grey;
}
.menu_main li:hover>ul{
    display:block;
}