li{
    display: inline;
    color: #877160;
}
td {
    border: 2px solid  #B0C7D8;
    padding: 10px;
    position: center;
}
.menu1
{
    position:relative;
}
.menu2
{
    position: absolute;
    padding-top: 0px;
    padding-left: 0px;
    opacity: 0;
    font-size: 13px;
}
.menu1:hover .menu2{
    opacity: 1;
}
a{
    text-decoration: none;
    color: #877160;
}
td:hover {
    background-color : #607787;
}
.menu3{
    position: absolute;
    padding-top: 0px;
    padding-left: 35px;
    opacity: 0;
    font-size: 13px;
}
.menu4:hover .menu3{
    opacity: 1;
}
.menu4
{
    position:relative;
}

